# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*




# installation 
#  npm i react-slick
#  npm install slick-carousel --save

 
# imp list
# export const HotelListArray = [
#   { name: "Delhi", location: "Delhi, National Capital Territory of Delhi" },
#   { name: "Chennai", location: "Chennai, Tamil Nadu" },
#   { name: "Ahmedabad", location: "Ahmedabad, Gujarat" },
#   { name: "Hyderabad", location: "Hyderabad, Telangana" },
#   { name: "Jaipur", location: "Jaipur, Rajasthan" },
#   { name: "Bangalore", location: "Bangalore, Karnataka" },
#   { name: "Pune", location: "Pune, Maharashtra" },
#   { name: "Kolkata", location: "Kolkata, West Bengal" },
#   { name: "Surat", location: "Surat, Gujarat" },
#   { name: "Lucknow", location: "Lucknow, Uttar Pradesh" },
#   { name: "Kanpur", location: "Kanpur, Uttar Pradesh" },
#   { name: "Nagpur", location: "Nagpur, Maharashtra" },
#   { name: "Mumbai", location: "Mumbai, Maharashtra" },
#   { name: "Lucknow", location: "Lucknow, Uttar Pradesh" },
#   { name: "Bhopal", location: "Bhopal, Madhya Pradesh" },
#   { name: "Patna", location: "Patna, Bihar" },
#   { name: "VisakhaPatanam", location: "Visakhapatnam, Andhra Pradesh" },
#   { name: "Allahabad", location: "Allahabad, Uttar Pradesh" },
# ];


# export const FlightCodeArray = [
#   { city: "Delhi", code: "DEL" },
#   { city: "Mumbai", code: "BOM" },
#   { city: "Chennai", code: "MAA" },
#   { city: "Hyderabad", code: "HYD" },
#   { city: "Kolkata", code: "CCU" },
#   { city: "Kochi", code: "COK" },
#   { city: "Ahmedabad", code: "AMD" },
#   { city: "Pune", code: "PNQ" },
#   { city: "Goa", code: "GOI" },
#   { city: "Patna", code: "PAT" },
#   { city: "Chandigarh", code: "IXC" },
#   { city: "Mangalore", code: "IXE" },
#   { city: "Nagpur", code: "NAG" },
#   { city: "Bhubaneshwar", code: "BBI" },
#   { city: "Jaipur", code: "JAI" },
#   { city: "Coimbatore", code: "CJB" },
#   { city: "Madurai", code: "IXM" },
#   { city: "Lucknow", code: "LKO" },
#   { city: "Thiruvananthapuram", code: "TRV" },
#   { city: "Guwahati", code: "GAU" },
#   { city: "Bangalore", code: "BLR" },
# ];



# flight image 
# https://r-xx.bstatic.com/data/airlines_logo/6E.png