.changeClass{
    color: blue;
    border-bottom: 2px solid blue;
    font-size:15px;
    cursor: pointer;
    padding: 5px 10px; 
    display: inline-flex;
    position:relative;
}
.prevClass{
    color: black;
    display: inline-flex;
    position: relative;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 10px;
    
}